<%- include ("partials/header") %>

    <label for="search"><h1>What will you like to have today?</h1></label>
    
    <div class="search-wrapper">
        <input type="search" id="search" placeholder="Search here">
        <input type="submit" placeholder="Search">
    </div>

    <section class="foodType-container">
        <% foodTypes.forEach(function(foodType) { %>
            <a class="scroll" href="#<%= foodType._id %>">
                <div class="food-type">
                    <img class="food-image" src="<%= foodType.image %>" alt="">
                    <p><%= foodType.name %></p>
                </div>
            </a>
        <% }); %>
    </section>

    <% foodTypes.forEach(function(foodType) { %>
        <section id="<%= foodType._id %>" class="food-container">
            <h1><%= foodType.name %></h1>
            <section class="foodType-container">
                <% foodType.foods.forEach(function(food) { %>
                    <div class="foods">
                        <i class="fas fa-heart"></i>
                        <img class="food-image" src="<%= food.image %>" alt="">
                        <p><%= food.name %></p>
                        <div class="food-desc">
                            <div>Rs. <%= food.price %></div>
                            <a href="#"><i class="fas fa-cart-plus"></i></a>
                        </div>
                    </div>
                <% }); %>
            </section>
        </section>
    <% }); %>

<%- include ("partials/footer") %>